.homeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 22px;
  @media (min-width: 622px) {
    margin: 0 22px;
  }
  @media (min-width: 666px) {
    margin: 50px 22px;
  }
  @media (min-width: 768px) {
    margin: 50px 60px;
  }
  @media (min-width: 992px) {
    margin: 50px 100px;
  }
  @media (min-width: 1200px) {
    margin: 50px 160px;
  }

  a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: #000;
    }
  }

  .productContainer {
    background: var(--primary-color-pale-orange2);
    @media (min-width: 666px) {
      border-radius: 18px;
    }
  }

  .productDetailsContainer {
    padding: 20px 24px;
  }

  .image {
    max-width: 100%;
    &:hover {
      opacity: 0.9;
    }
    @media (min-width: 666px) {
      border-radius: 18px 18px 0 0;
    }
  }

  .brand {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.08em;
    color: var(--primary-color-orange);
    margin-bottom: 16px;
  }

  .name {
    width: 300px;
    margin-bottom: 16px;
    font-size: 1.5rem;
    @media (min-width: 1200px) {
      font-size: 1.4rem;
    }
  }

  .priceAndDiscountContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .discountContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .discountPrice {
    padding-right: 20px;
    font-size: 26px;
    margin: 0;
    font-weight: 700;
  }

  .discountBox {
    color: var(--primary-color-orange);
    font-weight: 700;
    font-size: 16px;
    background-color: #f3dac0;
    height: 30px;
    line-height: 30px;
    width: 50px;
    text-align: center;
    border-radius: 4px;
  }

  .price {
    color: #a5a5ac;
    font-size: 18px;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    margin: 0;
  }
}
